@font-face {
  font-family: Nexa;
  src: url(fonts/nexa_light-webfont.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nexa;
  src: url(fonts/nexa_bold-webfont.ttf);
  font-weight: bold;
}

html, body, div, img {
	margin: 0;
	padding: 0;
	color: white;
	display: block;
}

body {
	width: 2592px;
	height: 1936px;
}

#background {
	
}

.queen {
	position: absolute;
	top: 655px;
	left: 688px;
}

.king {
	position: absolute;
	top: 620px;
	left: 650px;
}

.star {
	position: absolute;
	background-image: url('images/star-sprite.png');
	width: 35px;
	height: 35px;
}

.star:hover:after {
	content: "";
	width: 35px;
	height:35px;
	background-color: #fffcd6;
	-moz-box-shadow:    	0px 0px 50px 8px #fffcd6;
	-webkit-box-shadow: 	0px 0px 50px 8px #fffcd6;
	box-shadow:         	0px 0px 50px 8px #fffcd6;
	-webkit-border-radius: 	17.5px;
	-moz-border-radius: 	17.5px;
	border-radius: 			17.5px;
	display: block;
	opacity: .3;
}

.star1 {
	top: 600px;
	left: 400px;
}