@font-face {
  font-family: Nexa;
  src: url(fonts/nexa_light-webfont.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nexa;
  src: url(fonts/nexa_bold-webfont.ttf);
  font-weight: bold;
}

html, body, div, img {
	margin: 0;
	padding: 0;
	color: white;
	display: block;
}

body {
	width: 2592px;
	height: 1936px;
}

#background {
	
}

.queen {
	position: absolute;
	top: 655px;
	left: 688px;
}

.king {
	position: absolute;
	top: 620px;
	left: 650px;
}