html,body,p,article,img{
	margin:0;
	padding:0
	color:#333;
	font-family:"Helvetica Neue Light","HelveticaNeue-Light",Arial,Helvetica,sans-serif;
	font-size:1em;
	display: block;
}

.languages{
	margin: 0% auto;
	margin-top: 8%;
	padding: 0 3%;
	min-width: 100px;
	max-width: 500px
}

p{
	font-weight: normal;
	line-height: 1.125;
	margin-bottom: 1.5em
}

img{
	margin: 3% auto;
}


@media all and (min-width: 640px) {
	
	img:first-child{
		display: none
	}
	.img2{
		margin: 0% auto;
		max-width:1200px;
		height: 350px;
		background-image: url(trafficJam.gif);
		background-repeat: no-repeat;
		background-size: 100%
	}
	.languages{
		margin-right: 15%;
	}
}


@media all and (min-width: 900px) {
	.img3 {
		width:100px;
		height:400px;
		left: 12%;
		top: -10px;
		position:fixed;
		background-image: url(trafficLight.gif);
		background-repeat: no-repeat;
		background-size: 100%;
		z-index:-1;
	}
}